name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build with Buildozer
        run: |
          # O segredo: usamos o comando direto. 
          # O runner do GitHub já tem Java e Android SDK instalados por padrão!
          buildozer android debug --yes

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MeuAppInstalavel
          path: bin/*.apk
