name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer (Permissão de Root Forçada)
        run: |
          mkdir -p bin
          docker run --rm \
            -v ${{ github.workspace }}:/home/user/hostdir \
            -e FORCE_BUILDOZER_ALLOW_ROOT=1 \
            kivy/buildozer:latest \
            android debug
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MeuAppAPK
          path: bin/*.apk
